.us-map {
  z-index: -1;
}
  
path:hover,
circle:hover {
  stroke: #227da7 !important;
  stroke-width: 5px;
  stroke-linejoin: round;
  fill: #028fcc !important;
  cursor: pointer;
}
  
#path67 {
  fill: none !important;
  stroke: #2cb3f0 !important;
  cursor: default;
}
  
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #212121;
  color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
}
   
[type="img"]{
  z-index: 2;
}
  
#map{
  background-image: url("img/NCFL/map.jpg");
}

.navbg{
  background-color: rgb(0, 0, 61);
}
.footbg{
  background-color: rgb(0, 0, 61);
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}