.us-map {
  z-index: -1;
}
  
path:hover,
circle:hover {
  stroke: #227da7 !important;
  stroke-width: 5px;
  stroke-linejoin: round;
  fill: #028fcc !important;
  cursor: pointer;
}
  
#path67 {
  fill: none !important;
  stroke: #2cb3f0 !important;
  cursor: default;
}
  
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #212121;
  color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
}
   

  
#map{
  background-image: url("img/NCFL/the\ map.jpg");
  height: 492px;
  width: 718px;
}

/* BACKGROUND COLOR FOR NAVBAR */
.navbg{
  background-color: rgb(0, 0, 61);
}

/* BACKGROUND COLOR FOR FOOTER */
.footbg{
  background-color: rgb(0, 0, 61);
}

/* BUTTON COLOR FOR NAVBAR DROPDOWN */
.btnclr{
  background-color: rgb(0, 0, 61);     
  color: rgba(255, 255, 255, 0.493);
}

/* LOGOS ON MAP */
.teamlogo{
    height: 40px;
    width: 40px;
}

/* lOGO SIZE FOR SCORES AT TOP OF HOMEPAGE */
.lvsclogo {
  height: 30px;
  width: 40px;
}

/* GRADIENT SCALE BACKGROUNDS OF PAGES AND SCORE CARDS */
.gradient {
  background-image: linear-gradient(to bottom right, white, rgb(233,227,198));
}

/* STYLE FORMATTING FOR SCORE CARDS */
.styl {
  background-image: linear-gradient(to right,rgb(0, 0, 250),rgb(0, 0, 61));
  color: white;
  font-size: large;
  font-weight: bold;
}
