.us-map {
  z-index: -1;
}

path:hover,
circle:hover {
  stroke: #227da7 !important;
  stroke-width: 5px;
  stroke-linejoin: round;
  fill: #028fcc !important;
  cursor: pointer;
}

#path67 {
  fill: none !important;
  stroke: #2cb3f0 !important;
  cursor: default;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #212121;
  color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
}



#map {
  background-image: url("img/NCFL/the\ map.jpg");
  height: 492px;
  width: 718px;
}

/* BACKGROUND COLOR FOR NAVBAR */
.navbg {
  background-color: rgb(0, 0, 61);
}

/* BACKGROUND COLOR FOR FOOTER */
.footbg {
  background-color: rgb(0, 0, 61);
}

/* BUTTON COLOR FOR NAVBAR DROPDOWN */
.btnclr {
  background-color: rgb(0, 0, 61);
  color: rgba(255, 255, 255, 0.493);
}

/* LOGOS ON MAP */
.teamlogo {
  height: 40px;
  width: 40px;
}

/* lOGO SIZE FOR SCORES AT TOP OF HOMEPAGE */
.lvsclogo {
  height: 30px;
  width: 40px;
}

/* GRADIENT SCALE BACKGROUNDS OF PAGES */
.gradient {
  background-image: linear-gradient(to bottom right, white, rgb(179, 174, 152));
}

/* BACKGROUND OF SCORES */
.backg {
  background-color: rgb(0, 0, 61);
}

/* STYLE FORMATTING FOR SCORE CARDS */
.styl {
  background-color: rgb(233, 227, 198);
  color: black;
  font-size: large;
  font-weight: bold;
}

/*sticky navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* logo placement*/
.bells {
  border-top: 100px;
  border-bottom: 100px;
  border-right: 150px;
  border-left: 80px;
}

/* HEADER FONT FOR TEAM PAGES */
.hs {
  font-size: 150px;
  text-size-adjust: fill;
}

/* SIZE OF LOGOS ON TEAM PAGES */
.size {
  height: 200px;
  width: 180px;
}

/* PLAYER PROFILE ON TEAM PAGES */
.profile {
  height: 200px;
  width: 150px;
}

.cbg {
  background-color: rgb(255, 255, 255);
  animation-name: colorchange;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {
    background-color: rgb(0, 0, 61);
  }

  10% {
    background-color: rgb(0, 0, 155);
  }

  20% {
    background-color: rgb(0, 0, 61);
  }

  30% {
    background-color: rgb(0, 0, 155);
  }

  40% {
    background-color: rgb(0, 0, 61);
  }

  50% {
    background-color: rgb(0, 0, 155);
  }

  60% {
    background-color: rgb(0, 0, 61);
  }

  70% {
    background-color: rgb(0, 0, 155);
  }

  80% {
    background-color: rgb(0, 0, 61);
  }

  90% {
    background-color: rgb(0, 0, 155);
  }

  100% {
    background-color: rgb(0, 0, 61);
  }
}

/* TEXT ON TEAM PAGE */
.pagetext {
  font-size: large;
}

.hof {
  height: 300px;
  width: 200px;
}

.gradient2 {
  background-color: rgb(255, 255, 255);
  animation-name: colorchange2;
  animation-duration: 15s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes colorchange2 {
  0% {
    background-color: rgb(252, 252, 122);
  }

  10% {
    background-color: gold;
  }

  20% {
    background-color: rgb(252, 252, 122);
  }

  30% {
    background-color: gold;
  }

  40% {
    background-color: rgb(252, 252, 122);
  }

  50% {
    background-color: gold;
  }

  60% {
    background-color: rgb(252, 252, 122);
  }

  70% {
    background-color: gold;
  }

  80% {
    background-color: rgb(252, 252, 122);
  }

  90% {
    background-color: gold;
  }

  100% {
    background-color: rgb(252, 252, 122);
  }
}

/* SUMBIT BUTTON IN FOOTER */
.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: rgb(233, 227, 198);
  color: black;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}












/* BACKGROUND IMAGES FOR TEAM PAGE HEADERS */

/* BACKGROUND IMAGES FOR MHW HEADER */
.imgbg1 {
  background-image: url("img/NCFL/UTAH/MHWbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR BBB HEADER */
.imgbg2 {
  background-image: url("img/NCFL/WASHINGTON/BBBbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR FG HEADER */
.imgbg3 {
  background-image: url("img/NCFL/TENNESSEE/FGbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR KISS HEADER */
.imgbg4 {
  background-image: url("img/NCFL/PENNSYLVANIA/HKbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR LVR HEADER */
.imgbg5 {
  background-image: url("img/NCFL/NORTH-CAROLINA/LVRbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR SAND HEADER */
.imgbg6 {
  background-image: url("img/NCFL/FLORIDA/SANDbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR TK HEADER */
.imgbg7 {
  background-image: url("img/NCFL/ALABAMA/TKbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR WITCH HEADER */
.imgbg8 {
  background-image: url("img/NCFL/NEW-JERSEY/WITCHbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR WIZ HEADER */
.imgbg9 {
  background-image: url("img/NCFL/GEORGIA/WIZbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR YGI HEADER */
.imgbg10 {
  background-image: url("img/NCFL/VIRGINIA/YGIbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR DDD HEADER */
.imgbg11 {
  background-image: url("img/NCFL/TEXAS/DDDbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR DOC HEADER */
.imgbg12 {
  background-image: url("img/NCFL/CANADA/DOCbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR SKIS HEADER */
.imgbg13 {
  background-image: url("img/NCFL/CALIFORNIA/SJSbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR SNAKES HEADER */
.imgbg14 {
  background-image: url("img/NCFL/MONTANA/SNAKEbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR  HEADER */
.imgbg15 {
  background-image: url("img/NCFL/NEW-MEXICO/TCLbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* BACKGROUND IMAGES FOR WC HEADER */
.imgbg16 {
  background-image: url("img/NCFL/IDAHO/");
  background-repeat: no-repeat;
  background-size: cover;
}


/* MEDIA QUERIES */
@media screen and (min-width: 350px) {

  /* HEADER FONT FOR TEAM PAGES */
  .hs {
    font-size: 25px;
  }

  /* SIZE OF LOGOS ON TEAM PAGES */
  .size {
    height: 40px;
    width: 38px;
  }
}

@media screen and (min-width: 350px) {

  /* HEADER FONT FOR TEAM PAGES */
  .hs {
    font-size: 25px;
  }

  /* SIZE OF LOGOS ON TEAM PAGES */
  .size {
    height: 40px;
    width: 38px;
  }
}

@media screen and (min-width: 700px) {

  /* HEADER FONT FOR TEAM PAGES */
  .hs {
    font-size: 55px;
  }

  /* SIZE OF LOGOS ON TEAM PAGES */
  .size {
    height: 65px;
    width: 63px;
  }
}

@media screen and (min-width: 1050px) {

  /* HEADER FONT FOR TEAM PAGES */
  .hs {
    font-size: 85px;
  }

  /* SIZE OF LOGOS ON TEAM PAGES */
  .size {
    height: 100px;
    width: 95px;
  }
}